/* Styles pour le composant de gestion des catégories */

.emoji-icon {
  font-size: 1.5rem;
  display: inline-block;
}

.icon-preview img {
  max-width: 32px;
  max-height: 32px;
  object-fit: contain;
}
